{% if grocery_list %}
	<ul>
	{% for grocery in grocery_list %}
		<li>
			<a href="{{grocery.id}}">{{grocery.item_name}}</a>
		</li>
	{% endfor %}
	</ul>
{% else %}
	<p>No groceries have been added.</p>
{% endif %}
